<template name="login">
  <div class="login-container">
    <div class="login-box">
      <div class="ui input fluid focus">
        <input type="text" name="username" class="username" placeholder="用户名">
      </div>
      <div class="ui input fluid focus">
        <input type="password" name="password" placeholder="密码">
      </div>
      <div class="error-box">

      </div>
      <div class="btn-wrapper">
        <button class="ui button login-btn">
          登陆
        </button>
        <button class="ui button go-register-btn">
          注册
        </button>
      </div>
    </div>
  </div>
</template>
