<template name="register">
  <div class="register-container">
    <div class="register-box">
      <div class="ui input fluid focus">
        <input type="text" name="username" class="username" placeholder="用户名">
      </div>
      <div class="ui input fluid focus">
        <input type="password" name="password1" placeholder="密码">
      </div>
      <div class="ui input fluid focus">
        <input type="password" name="password2" placeholder="重新输入密码">
      </div>
      <div class="error-box">

      </div>
      <div class="btn-wrapper">
        <button class="ui button register-btn">
          注册
        </button>
        <button class="ui button go-login-btn">
          登陆
        </button>
      </div>
    </div>
  </div>
</template>
